In [1]:
import pandas as pd

#### General

In [2]:
df = pd.read_excel('World Dataviz Prize 2023 - Challenge Concepts & Datasets.xlsx',
                   sheet_name="What Just Happened Last 10 year", index_col=0)

df = df.drop(["Unnamed: 16"], axis=1)

df

,data,metric,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,10 year change,source name,source link
GLOBAL HEALTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tropical Diseases,global deaths,NaN,2051672.0,2016434.000,1960756.0,1895419.0,1814474.0,NaN,1699509.000,1656896.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://ghdx.healthdata.org/gbd-results-tool?pa...
Tuberculosis,global cases,NaN,1417402.673,1386716.717,1353968.939,1321313.238,1289369.456,1261016.143,1236142.605,1213056.84,NaN,NaN,NaN,NaN,NaN,NaN,Global Burden of Disease Collaborative Network...,http://ghdx.healthdata.org/gbd-results-tool?pa...
Tuberculosis,incidence,"per 100,000 people",NaN,161.000,158.0,155.0,152.0,149.0,145.000,142.0,138.0,135.00,133.0,130.0,127.0,-0.177215,Global Burden of Disease Collaborative Network...,https://data.worldbank.org/indicator/SH.TBS.IN...
Malaria,Incidence,"per 1,000 people at risk",70.6,69.500,66.5,64.3,61.8,59.8,58.900,58.7,59.2,57.20,56.3,59.5,-,-0.105263,Worldbank,https://databank.worldbank.org/source/health-n...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Foreign Aid,net official development assistance,$USD bn,1.24,1.280,1.39,1.33,1.51,1.61,1.460,1.58,1.64,1.66,1.62,1.94,NaN,0.515625,Worldbank,https://data.worldbank.org/indicator/DT.ODA.AL...
GDP per capita,$USD,NaN,13383.0,13892.000,14260.0,14528.0,14824.0,15149.0,15480.000,15803.0,16211.0,16607.00,16897.0,16185.0,-,0.165059,Our World in Data,https://ourworldindata.org/grapher/average-yea...
GDP growth per capita,%,NaN,-2.5,3.250,2.13,1.43,1.61,1.89,1.960,1.64,2.22,2.14,1.52,-4.29,NaN,-2.320000,Our World in Data,https://ourworldindata.org/grapher/gdp-per-cap...
Economic Freedom,NaN,NaN,59.5,59.400,59.7,59.5,59.6,60.3,60.400,60.7,60.9,61.10,60.8,61.6,60.0,0.037037,Index of Economic Freedom,https://www.heritage.org/index/visualize
Economic Growth,GDP,2015 USD,6.2,6.490,6.7,6.88,7.08,7.29,7.520,7.73,7.99,8.25,8.47,8.19,8.67,0.261941,Worldbank,https://data.worldbank.org/indicator/NY.GDP.MK...

In [3]:
startQOL = 46
endQOL = 49

dfQOL = df.rename(columns={"index": "label", 2009: "2009", 2010: "2010", 
                              2011: "2011", 2012: "2012", 2013: "2013", 
                              2014: "2014", 2015: "2015", 2016: "2016",
                              2017: "2017", 2018: "2018", 2019: "2019", 
                              2020: "2020", 2021: "2021"})

dfQOL = dfQOL.fillna("")

dfHappy = dfQOL.iloc[df.index.get_loc("Happy Planet Index"), :].to_frame().T
dfQOL = dfQOL.iloc[startQOL:endQOL]
dfQOL = pd.concat([dfQOL, dfHappy])

dfQOL

,data,metric,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,10 year change,source name,source link
Extreme Poverty,% not in extreme poverty,%,,83.69,85.87,87.26,,,90.39,,,91.4,,,,,ODI,https://www.odi.org/blogs/10688-new-projection...
Access to Electricity,% of global population,%,83.211392,83.539119,82.504646,85.041338,85.163333,85.690705,87.028132,87.351048,88.85,,,90.5,,0.083325,Worldbank,https://data.worldbank.org/indicator/EG.ELC.AC...
Access to Internet,% of global population,%,26.0,29.0,31.0,34.0,36.0,38.0,40.0,43.0,46.0,49.0,54.0,60.0,,1.068966,Worldbank,https://data.worldbank.org/indicator/IT.NET.US...
Happy Planet Index,Average Happy Planet Index,,43.6,43.6,43.8,44.1,44.2,44.6,44.3,44.5,44.3,44.2,44.1,46.0,,0.055046,Happy Planet Index,https://happyplanetindex.org/countries/

In [4]:
dfQOLTimeLine = dfQOL[["2009",	"2010",	"2011",	"2012",	"2013",	"2014",	"2015",
                       "2016",	"2017", "2018",	"2019",	"2020",	"2021"]].T

dfQOLTimeLine

,Extreme Poverty,Access to Electricity,Access to Internet,Happy Planet Index
2009,,83.211392,26.0,43.6
2010,83.69,83.539119,29.0,43.6
2011,85.87,82.504646,31.0,43.8
2012,87.26,85.041338,34.0,44.1
2013,,85.163333,36.0,44.2
2014,,85.690705,38.0,44.6
2015,90.39,87.028132,40.0,44.3
2016,,87.351048,43.0,44.5
2017,,88.85,46.0,44.3
2018,91.4,,49.0,44.2
2019,,,54.0,44.1
2020,,90.5,60.0,46.0
2021,,,,

In [5]:
dfQOLTimeLine.to_csv('Last 10 year - QoL Timeline.csv', index=True)

In [6]:
dfQOL = dfQOL[["data",	"metric", "10 year change",	"source name",	"source link"]]
dfQOL

,data,metric,10 year change,source name,source link
Extreme Poverty,% not in extreme poverty,%,,ODI,https://www.odi.org/blogs/10688-new-projection...
Access to Electricity,% of global population,%,0.083325,Worldbank,https://data.worldbank.org/indicator/EG.ELC.AC...
Access to Internet,% of global population,%,1.068966,Worldbank,https://data.worldbank.org/indicator/IT.NET.US...
Happy Planet Index,Average Happy Planet Index,,0.055046,Happy Planet Index,https://happyplanetindex.org/countries/

In [7]:
dfQOL.to_csv('Last 10 year - QoL.csv', index=True)